*{
    margin: 0%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color:#323436;
}

header{
    background-color:rgb(230, 191, 224) ;
    padding: 20px;
}
.image-container {
    display: inline-block;
    width: 200px; /* Set the width of the circle */
    height: 200px; /* Set the height of the circle */
    overflow: hidden; /* Hide any part of the image that exceeds the circle's dimensions */
    border-radius: 50%; /* Create a circle */
}  
.image-container img {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
.image-container p1{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
nav ul{
    list list-style-type: none;
    margin:0;
    padding:0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
nav ul li a:hover{
    color: #4682b4;
}
main{
    background-color: antiquewhite;
    padding: 30px;
}
section{
    margin-bottom: 50px;
}
p1{
   color: rgb(238, 117, 18);
}